:root {
    --textDark: #1d3326;
    --textLight: #f2f2f2;
    --bgDark: #151e1d;
    --bgLight: #f2f2f2;

    // --container-padding-inline: 13%;
    // --footer-padding-inline: 10%;
    // @media screen and (max-width: 768px) {
    //     --container-padding-inline: 6%;
    //     --footer-padding-inline: 6%;
    // }
    // @media screen and (max-width: 576px) {
    //     --container-padding-inline: 15px;
    //     --footer-padding-inline: 15px;
    // }
}
